<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/script.css">
    <link rel="stylesheet" href="../css/annexe.css">
</head>
<body>
<div id="menu">
    <div class="block-menu">
        <ul>
            <li><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScokofCSCfGxA2hm2l7BwAci09cbamHWBWTFVa7th_KRl4r2Q/viewform?fbclid=IwAR28yrjIm5onXyWYdG0omWXqjUv2NE8ChEn5bpiBu4OxNzQwcRz8I5IavCI">Répondre au <br> faire part</a></li>
            <li><a href="church.html">L'Eglise</a></li>
            <li><a href="celebrate.html">réception</a></li>
            <li><a href="hebergement.html">Se loger</a></li>
            <li><a target="_blank" href="https://l.messenger.com/l.php?u=https%3A%2F%2Fwww.millemercismariage.com%2Flauriane-henri%2Fmariage-de-henri-guerlesquin-et-lauriane-sainte-claire-deville.html&h=AT3Wv-1o7Jg0PIdh0PZf7D6MYwZcieNLAUnSR2tYEva6G4tx6V-A4qTP2xvOHM_iLB6iT2LQ_Dys2VaeaDtbucchwM0C4sWdCkKbwogs8GKZMEPDDZBlXJcNX_5noY5PyYFA08VU6C8">Liste de mariage</a></li>
        </ul>
        <div class="contact-menu">
            <a href="mailto:mariage-laurianne-henri@gmail.com">mariage-laurianne-henri@gmail.com</a>
            <a href="tel:+33 6 08 11 03 51">+33 6 08 11 03 51</a>
        </div>
    </div>
</div>
<header>
    <div class="navbar">
        <a href="index.html">
        <div class="container-name">
            <div class="line-name">
                <div class="first-name">Riton</div>
                <div class="and">&</div>
            </div>
            <div class="second-name">Lalou</div>
        </div>
        </a>
        <div id="burger-menu" onclick="navFunction()">
            <div class="burger-top"></div>
            <div class="burger-down"></div>
        </div>
        <div class="answer">
            <p><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScokofCSCfGxA2hm2l7BwAci09cbamHWBWTFVa7th_KRl4r2Q/viewform?fbclid=IwAR28yrjIm5onXyWYdG0omWXqjUv2NE8ChEn5bpiBu4OxNzQwcRz8I5IavCI">Répondre au faire part</a></p>
        </div>
    </div>
</header>
<div class="container-annexe">
    <div class="outside-annexe-round">
        <div class="inside-annexe-round">
            <div class="annexe-low-title">Où dormir</div>
            <div class="annexe-title">Les logements</div>
            <div class="annexe-texte"><p>Notre petite sélection de logments pour vous préparer et <br> vous reposer à deux pas des événements.</p></div>

            <div class="annexe-hotel-name">Hotel tropicana</div>
            <div class="annexe-hotel-address"><p class="address" data-ads="0">Les Trois Frères, Lieu dit, 24140 Douville </p></div>
            <div class="annexe-link-address">
                <div class="google-map">
                    <a target="_blank" href="https://www.google.com/maps/place/H%C3%B4tel+Restaurant+Le+Tropicana/@45.024932,0.6135456,17z/data=!3m1!4b1!4m8!3m7!1s0x47ff7f90d26e9d99:0x6c33819e413fca1!5m2!4m1!1i2!8m2!3d45.0248585!4d0.6158099"><p>Voir sur Google map</p></a>
                </div>
                <div class="annexe-copy-link" onclick="copy(0)">Copier l'adresse</div>
            </div>

            <div class="annexe-hotel-name">Le Clos de Saint Maime</div>
            <div class="annexe-hotel-address"><p class="address" data-ads="1">50 impasse des puits Lieu-dit, 24380 Saint<br> Maime-de-Péreyol</p></div>
            <div class="annexe-link-address">
                <div class="google-map">
                    <a target="_blank" href="https://www.google.com/maps/place/Le+Clos+de+Saint+Maime/@45.005892,0.6547259,17z/data=!3m1!4b1!4m8!3m7!1s0x47ff7f52830b3e9f:0x87509b38215437d8!5m2!4m1!1i2!8m2!3d45.005892!4d0.6569199"><p>Voir sur Google map</p></a>
                </div>
               <button> <div class="annexe-copy-link" data-ads="1" onclick="copy(1)">Copier l'adresse</div></button>
            </div>

            <div class="annexe-hotel-name">Domaine de la Maison D'aum</div>
            <div  class="annexe-hotel-address"><p class="address" data-ads="2">Domaine de la Maison, 2 , 24110 Bourrou </p></div>
            <div class="annexe-link-address">
                <div class="google-map">
                    <a target="_blank" href="https://www.google.com/maps/place/Domaine+de+la+Maison+d%E2%80%99Aum/@45.0471771,0.6035006,17z/data=!3m1!4b1!4m8!3m7!1s0x47ff7f63c4cbe657:0x293dc69f070e8bd!5m2!4m1!1i2!8m2!3d45.0471771!4d0.6056946"><p>Voir sur Google map</p></a>
                </div>
                <div class="annexe-copy-link" onclick="copy(2)" >Copier l'adresse</div>
            </div>

            <div class="annexe-hotel-name">Chambres d'Hotes Douvilla</div>
            <div class="annexe-hotel-address"><p class="address" data-ads="3"> Caillvel, 24140 Douville</p></div>
            <div class="annexe-link-address">
                <div class="google-map">
                    <a target="_blank" href="https://www.google.fr/maps/place/Chambres+d'h%C3%B4tes+Douvilla+-+Bed+and+breakfast,+relais+motards+en+Dordogne+(P%C3%A9rigord)/@45.0040984,0.5587037,13.5z/data=!4m8!3m7!1s0x47ff81649a03e4a5:0x773a4b6740b67da1!5m2!4m1!1i2!8m2!3d45.002742!4d0.583676"><p>Voir sur Google map</p></a>
                </div>
                <div class="annexe-copy-link" onclick="copy(3)">Copier l'adresse</div>
            </div>

            <div class="annexe-hotel-name">Camping Lestaubiére</div>
            <div class="annexe-hotel-address"><p class="address" data-ads="4">Pont Saint-Mamet 24140, Douville</p></div>
            <div class="annexe-link-address">
                <div class="google-map">
                    <a target="_blank" href="https://www.google.com/maps/place/Pont-Saint-Mamet,+24140+Douville/@44.9839711,0.5837656,13.25z/data=!4m5!3m4!1s0x12aad55b1099ab95:0xa066519d2f633f0!8m2!3d44.987605!4d0.594763"><p>Voir sur Google map</p></a>
                </div>Voir
                <div class="annexe-copy-link" onclick="copy(4)">Copier l'adresse</div>
            </div>

            <div class="annexe-hotel-name">Les Tamaris</div>
            <div class="annexe-hotel-address"><p class="address" data-ads="5">Le bourg Lieu-dit La Croix 24140 Campsegret</p></div>
            <div class="annexe-link-address">
                <div class="google-map">
                    <a target="_blank" href="https://www.google.com/maps/search/les+tamaris+Le+bourg+Lieu-dit+La+Croix+24140+Campsegret/@44.9345053,0.5604884,17z/data=!3m1!4b1"><p>Voir sur Google map</p></a>
                </div>
                <div class="annexe-copy-link" onclick="copy(5)">Copier l'adresse</div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="contact">
        <h5>Pour nous envoyer des bisous ...</h5>
        <a href="mailto:mariage.lauriane.henri@gmail.com">mariage.lauriane.henri@gmail.com</a>
        <a href="tel:+33 6 08 11 03 51">+33 6 08 11 03 51</a>
    </div>
</footer>
<script src="../js/parallax.js"></script>
</body>
</html>
